#userTurnLabel, #myTurnLabel {
    -fx-font-family: "System";
    -fx-font-weight: bold;
    -fx-font-size: 16.0;
    -fx-text-alignment: center;
}

#userAttempt, #myAttempt {
    -fx-font-family: "Consolas";
    -fx-font-size: 18.0;
}

#bulls, #cows, #myAnswer {
    -fx-font-family: "Consolas";
    -fx-font-size: 14.0;
}